.watch-list-items{
    margin: 2.5rem 0;
    overflow-y: scroll;
        height: 8rem;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.subscribe-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}