.add-member-container{
    height: 76.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}