.subscriptions-page-container{
    display: flex;
    flex-direction: column;
    background-color: rgb(215, 220, 188);
}
.btns-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.page{
    width: 100%;
    height: 100%;
    border: 1px solid blue($color: #000000);
    background-color: rgb(215, 220, 188);
}